﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col-12 headerfont pb-3 pt-3">
        COURT AVIS DE CONFIDENTIALITÉ DE STELLA McCARTNEY

    </div>
    <div class="col-12 controlfont small">
        Informations de base sur la protection des données à caractère personnel (Plus d’infos sur demande d’un vendeur)
    </div>
    <div class="col-12 controlfont small">
        <table class="table">            
            <tbody>
                <tr>
                    <th scope="row">a)</th>
                    <th scope="row" class="w-25">Quand les données à caractère personnel sont-elles collectées?</th>
                    <td>                        Si vous souhaitez devenir un client enregistré, acheter des produits ou services SML (en magasin ou en ligne) ou participer à des initiatives de
                        SML et rester à jour sur le monde SML.
                    </td>

                </tr>
                <tr>
                    <th scope="row">b)</th>
                    <th scope="row">
                        Qui est responsable du traitement des données à caractère personnel
                        vous concernant?
                    </th>
                    <td>
                        Stella McCartney Ltd, dont le siège social est à Olaf Street 3, Londres W11 4BE, Grande Bretagne (« SML ») en coopération avec chacune des
                        filiales locales de SML, le cas échéant, concernant les ventes aux clients enregistrés.
                    </td>

                </tr>
                <tr>
                    <th scope="row">c)</th>
                    <th scope="row">
                        Quelles données à caractère personnel collectons-nous, à quelles fins
                        et sur quel fondement juridique traitons-nous les données à caractère
                        personnel collectées?
                        
                    </th>
                    <td>
                        Votre nom, date de naissance, code TVA, adresse, numéro de téléphone, adresse courriel, données concernant les loisirs, travail, les intérêts, les
                        données d’achat (produits achetés, lieu, date et heure d’achat, données de livraison) vos visites sur nos boutiques et dans notre site Internet
                        (par exemple, les produits consultés) peuvent être traités, selon le cas, pour
                        <ol>
                            <li>
                                remplir des obligations légales (respect d’une obligation légale à laquelle est soumise SML);
                            </li>
                            <li>
                                remplir des obligations strictement liées à l’achat d’un produit ou à la fourniture d’un service tel que la participation à un jeu ou à une autre
                                initiative (exécution d’un contrat auquel vous êtes partie);
                            </li>
                            <li>
                                mener des initiatives de marketing et de promotion (avec votre consentement);
                            </li>
                            <li>
                                analyser vos habitudes de consommation (avec votre consentement).
                            </li>
                        </ol>
                    </td>

                </tr>
                <tr>
                    <th scope="row">d)</th>
                    <th scope="row">Comment les données à caractère personnel vous concernant sontelles traitées et protégées?</th>
                    <td>
                        Les données à caractère personnel vous concernant peuvent être traitées, soit sous forme électronique ou sous forme de papier, et sont
                        protégées par des mesures de sécurité, techniques et organisationnelles appropriées.
                    </td>
                </tr>
                <tr>
                    <th scope="row">e)</th>
                    <th scope="row">
                        Combien de temps conservons-nous les données à caractère
                        personnel vous concernant?
                    </th>
                    <td>
                        Pour une période n’excédant pas 10 ans pour se conformer à une obligation légale ou contractuelle et pour une période ne dépassant pas 7
                        (sept) ans à des fins de marketing et de profilage.
                    </td>
                </tr>
                <tr>
                    <th scope="row">f)</th>
                    <th scope="row">
                        Les données à caractère personnel sont-elles obligatoires ou
                        facultatives et quelles sont les conséquences possibles d’un défaut de
                        fourniture de telles données?
                    </th>
                    <td>
                        Vous devez fournir les données vous concernant aux fins énoncées au point c) (1) (obligations légales) et (2) (à des fins contractuelles), à défaut nous
                        ne serons pas en mesure de de vous vendre le produit en tant que client enregistré ou pour vous permettre de participer aux initiatives de SMC.
                        La fourniture de données aux fins énoncées au point c) (3) (objectif de marketing) et (4) (objectif de profilage) est facultative. Ne pas fournir les
                        données vous concernant à ces fins n’aura aucune conséquence négative pour vous.
                    </td>
                </tr>
                <tr>
                    <th scope="row">g)</th>
                    <th scope="row">
                        Comment partageons-nous les données à caractère personnel
                        collectées, comment fonctionnent nos services globaux et à quelles
                        entités les données à caractère personnel vous concernant peuventelles être partagées hors de l’EEE?
                    </th>
                    <td>
                        SML ne diffusera pas les données à caractère personnel vous concernant. Les données vous concernant seront partagées avec des prestataires
                        externes qui effectuent pour nous certains services annexes au traitement. Ils agissent en tant que sous-traitants de données ou contrôleurs
                        de données par rapport aux données vous concernant et une liste de ceux-ci est disponible sur demande.
                        Si vous vous inscrivez en tant que client SML, les données à caractère personnel vous concernant peuvent être traitées à l’intérieur et à l’extérieur
                        de votre pays de résidence, y compris en dehors de l’EEE, car Programme CRM de SML est géré et offre aux clients les avantages de SML dans le
                        monde entier (le cas échéant, les clauses contractuelles types sont conclues).
                    </td>
                </tr>
                <tr>
                    <th scope="row">h)</th>
                    <th scope="row">Existence d’une prise de décision automatisée, y compris le profilage</th>
                    <td>
                        SML, avec votre consentement, peut vous profiler. Si cela se produit, les habitudes d’achat définiront les types de produits qui vous conviennent
                        le mieux et que SML vous en fera la promotion.
                    </td>
                </tr>
                <tr>
                    <th scope="row">i)</th>
                    <th scope="row">Quels sont vos droits en matière de confidentialité?</th>
                    <td>
                        Vous disposez d’un certain nombre de droits pour protéger vos données personnelles, notamment le droit:
                        <br />
                        <ol>
                            <li>
                                d’être informé de la manière dont les données personnelles sont traitées (comme expliqué dans cette déclaration)
                            </li>
                            <li>
                                d’avoir accès et recevoir une copie des données personnelles vous concernant que nous avons stockées;
                            </li>
                            <li>
                                de recevoir la rectification de données personnelles incorrectes
                            </li>
                            <li>
                                dans certaines circonstances, de demander la suppression de vos données personnelles ou limiter leur utilisation
                            </li>
                            <li>
                                de demander la portabilité des données et le transfert des données que vous nous avez fournies
                            </li>
                            <li>
                                orsque nous utilisons vos données avec votre consentement, de retirer ce consentement à tout moment
                            </li>
                            <li>
                                de contester l’utilisation de l’intérêt légitime comme base juridique du traitement
                            </li>
                            <li>
                                de proposer une réclamation à l’autorité de contrôle pour la protection des données personnelles.
                            </li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <th scope="row">j)</th>
                    <th scope="row">Comment pouvez-vous exercer vos droits en matière de confidentialité?</th>
                    <td>
                        Pour exercer vos droits, vous pouvez contacter SML en envoyant une demande à l’adresse électronique suivante: <b>privacy@store.stellamccartney.com</b>
                        Vous pouvez vous désinscrire de nos communications marketing à tout moment en cliquant sur le lien au bas de chacune de nos communications
                        par e-mail.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


