﻿@font-face {
    font-family: 'Apercu-Regular';
    src: url('/font/Apercu-Regular.eot');
    src: url('/font/Apercu-Regular.eot?#iefix') format('embedded-opentype'), url('/font/Apercu-Regular.svg#Apercu-Regular') format('svg'), url('/font/Apercu-Regular.ttf') format('truetype'), url('/font/Apercu-Regular.woff') format('woff'), url('/font/Apercu-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ApercuPro-Bold';
    src: url('/font/ApercuPro-Bold.eot');
    src: url('/font/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'), url('/font/ApercuPro-Bold.svg#ApercuPro-Bold') format('svg'), url('/font/ApercuPro-Bold.ttf') format('truetype'), url('/font/ApercuPro-Bold.woff') format('woff'), url('/font/ApercuPro-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.controlfont {
    font-family: 'Apercu-Regular';
}

.headerfont {
    font-family: 'Apercu-Regular';
}

.signupbutton:hover {
        font-family: 'Apercu-Regular';
        color: white;
        background-color: black;
        width: 100%;
        border-style: none;
}



.thanks
{
    font-size: 32px;
}