﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col-12 headerfont pb-3 pt-3">
        INFORMATIVA SULLA PRIVACY SINTETICA STELLA McCARTNEY
    </div>
    <div class="col-12 controlfont small">
        Informazioni di base sulla protezione dei dati personali (ulteriori informazioni su richiesta all’assistente di vendita)
    </div>
    <div class="col-12 controlfont small">
        <table class="table">            
            <tbody>
                <tr>
                    <th scope="row">a)</th>
                    <th scope="row" class="w-25">
                        Quando vengono raccolti i dati personali?
                    </th>
                    <td>
                        Se desidera diventare cliente registrato, acquistare prodotti o servizi SML (in negozio, attraverso vendite a distanza o online) o partecipare alle
                        iniziative di SML e rimanere aggiornato sul mondo SML.
                    </td>

                </tr>
                <tr>
                    <th scope="row">b)</th>
                    <th scope="row">Chi controlla i suoi dati personalli?</th>
                    <td>
                        Stella McCartney Ltd con sede legali in Olaf Street 3, Londra W11 4BE, Regno Unito (“SML”), anche, con riferimento ai clienti registrati, in
                        collaborazione con consociate locali di SML o terzi fornitori di servizi.
                    </td>

                </tr>
                <tr>
                    <th scope="row">c)</th>
                    <th scope="row">
                        Quali dati personali raccogliamo e per quali finalità e ai sensi di quale
                        base giuridica trattiamo i dati personali raccolti?
                    </th>
                    <td>
                        Il suo nome, cognome, data di nascita, codice fiscale, indirizzo, numero di telefono, indirizzo e-mail, dati relativi a hobby, lavoro, interessi, dati di
                        acquisto (ad es. prodotti acquistati, luogo, data e ora di acquisto, dati di consegna) e dati sulle sue visite ai nostri negozi ed al nostro sito web (ad es. i
                        prodotti visualizzati) possono essere trattati, a seconda dei casi, per:fulfil legal obligations (compliance with a legal obligation to which SML is subject);
                        <br />
                        <ol>
                            <li>
                                adempiere agli obblighi legali (adempimento di un obbligo legale cui SML è soggetta);
                            </li>
                            <li>
                                adempiere a obblighi strettamente connessi all’acquisto di un prodotto o alla fornitura di un servizio come la partecipazione a un gioco o
                                altra iniziativa (esecuzione di un contratto di cui lei è parte);
                            </li>
                            <li>
                                realizzare iniziative di marketing e promozionali (con il suo consenso);
                            </li>
                            <li>
                                analizzare le sue abitudini di consumo (con il suo consenso).
                            </li>
                        </ol>
                    </td>

                </tr>
                <tr>
                    <th scope="row">d)</th>
                    <th scope="row">
                        Come vengono trattati e protetti i suoi dati personali?
                    </th>
                    <td>
                        I suoi dati personali possono essere trattati, sia elettronicamente che in forma cartacea e sono protetti con adeguate misure di sicurezza,
                        tecniche e organizzative.
                    </td>
                </tr>
                <tr>
                    <th scope="row">e)</th>
                    <th scope="row">Per quanto tempo conserviamo i suoi dati personali?</th>
                    <td>
                        Per un periodo non superiore a 10 anni per adempiere a un obbligo legale e per dare esecuzione a un contratto e per un periodo non superiore
                        a 7 (sette) anni a fini di marketing e di profilazione.
                    </td>
                </tr>
                <tr>
                    <th scope="row">f)</th>
                    <th scope="row">
                        I dati personali sono obbligatori o facoltativi e quali sono le possibili
                        conseguenze se non si forniscono tali dati?
                    </th>
                    <td>
                        Deve fornire i suoi dati per le finalità indicate al punto c) (1) (obblighi legali) e (2) (finalità contrattuali), altrimenti non potremo venderle il prodotto
                        come cliente registrato o consentirle di partecipare alle iniziative di SMC.
                        Fornire i dati per le finalità di cui al punto c) (3) (finalità di marketing) e (4) (finalità di profilazione) è invece facoltativo. Non fornire i suoi dati
                        per queste finalità non avrà conseguenze negative per lei.
                    </td>
                </tr>
                <tr>
                    <th scope="row">g)</th>
                    <th scope="row">
                        Come condividiamo i dati personali raccolti, come funzionano i nostri
                        servizi globali e con quali soggetti esterni allo SEE possono essere
                        condivisi i suoi dati personali?
                    </th>
                    <td>
                        SML non diffonderà i suoi dati personali. I suoi dati saranno condivisi con fornitori esterni che svolgono per noi determinati servizi accessori
                        al trattamento. Essi agiranno come responsabili del trattamento dei dati o titolari del trattamento dei dati in relazione ai suoi dati e un elenco
                        di essi è disponibile su richiesta.
                        <br /><br />
                        Se si registra come Cliente di SML, i suoi dati personali potrebbero essere trattati sia all’interno che all’esterno del suo paese di residenza, anche
                        al di fuori del SEE, dal momento che il customer relationship management (CRM) di SML è gestito e fornisce ai clienti i vantaggi di SML in tutto il
                        mondo (in tal caso, si applicheranno le Clausole Contrattuali Tipo dell’UE).
                    </td>
                </tr>
                <tr>
                    <th scope="row">h)</th>
                    <th scope="row">Esistenza di processi decisionali automatizzati, compresa la profilazione</th>
                    <td>
                        SML, con il suo consenso, potrebbe profilarla. In questo caso, le abitudini di acquisto definiranno i tipi di prodotti più adatti alle sue esigenze
                        che SML promuoverà nei suoi confronti.
                    </td>
                </tr>
                <tr>
                    <th scope="row">i)</th>
                    <th scope="row">Quali sono I suoi diritti di tutela della privacy?</th>
                    <td>
                        Lei è titolare di una serie di diritti di tutela dei suoi dati personali, incluso il diritto:
                        <br />
                        <ol>
                            <li>
                                ad essere informato su come I dati personali vengono trattati (come spiegato nella presente informativa)
                            </li>
                            <li>
                                di avere accesso e ricevere copia dei dati personali che la riguardano da noi conservati;
                            </li>
                            <li>
                                alla retifica dei dati personali scorretti
                            </li>
                            <li>
                                in determinate circostanze, richiedere la cancellazione dei suoi dati personali o di limitarne l’utilizzo
                            </li>
                            <li>
                                di richiedere la portabilità dei dati ed il trasferimento dei dati che lei ci ha fornito
                            </li>
                            <li>
                                laddove utilizzassimo I suoi dati con il suo consenso, di revocare tale consenso in qualsiasi momento
                            </li>
                            <li>
                                di contestare l’utilizzo del legittimo interesse quale base giuridica del trattamento
                            </li>
                            <li>
                                proporre un reclamo all’autorità garante per la protezione dei dati personali.
                            </li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <th scope="row">j)</th>
                    <th scope="row">Come può esercitare i suoi diritti alla tutela della privacy?</th>
                    <td>
                        Per esercitare i suoi diritti (ad es. per accedere, rettificare e cancellare, nonché altri diritti) può contattare SML inviando una richiesta al seguente
                        indirizzo <b>privacy@store.stellamccartney.com</b> Puoi cancellarti dalle nostre comunicazioni marketing in qualsiasi momento cliccando sul link in
                        calce ad ogni nostra comunicazione e-mail.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


