﻿@model DCCManager.Models.Country

@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>Country Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Sid)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Sid)
        </dd>
        <dt class = "col-sm-3">
            Country Code
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class = "col-sm-3">
            Country Name
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-3">
            Active
        </dt>
        <dd class="col-sm-9">
            @if (Model.IsActive)
            {@Html.Label("Yes") }
        else
        { @Html.Label("No")}

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CountryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
