﻿@model DCCManager.ViewModels.ListViewModel<Country>

@{
    ViewData["Title"] = "Index";
}

<div class="limiter">
    <h4>Country Management</h4>
    <br />
    <form asp-action="">
        <div class="actionButtons">
            <p>
                <button class="btn-dark btn btn-new"  asp-action="BtnCreate" title="Create New Country">Create</button>
                <button class="btn-dark btn btn-edit" asp-action="BtnEdit" asp- title="Edit Selected Country" disabled>Edit</button>
                <button class="btn-dark btn btn-edit" asp-action="BtnDetails" title="View Details of selected Country" disabled>Details</button>
                <button class="btn-dark btn btn-edit" asp-action="ToggleActive" title="Toggle Selected Country State" disabled>Toggle Active</button>
            </p>
        </div>
        <hr />
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver6 m-b-100">
                    @Html.HiddenFor(x => x.SelectedItem)
                    @Html.HiddenFor(x => x.ControlerName)
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">Act</th>
                                    <th class="cell100 column2">Code</th>
                                    <th class="cell100 column3">Name</th>
                                    <th class="cell100 column4">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                                @foreach (var item in Model.ItemList)
                                {
                                    <tr id="@item.CountryId" class="row100 body">
                                        <td class="cell100 column1">
                                            @if (item.IsActive)
                                            {
                                                <img src="~/img/Check.png" width="16" height="16" title="Active" alt="Active">
                                            }
                                        </td>
                                        <td class="cell100 column2">
                                            @Html.DisplayFor(modelItem => item.CountryCode)
                                        </td>
                                        <td class="cell100 column3">
                                            @Html.DisplayFor(modelItem => item.CountryName)
                                        </td>
                                        <td class="cell100 column4">
                                            <a asp-action="Edit" asp-route-id="@item.CountryId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.CountryId">Details</a> |
                                            <a asp-action="ToggleActive" asp-route-id="@item.CountryId">Toggle Active</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/vendor/select2/select2.min.js"></script>
<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);
			$(window).on('resize', function(){
				ps.update();
			})
		});
</script>
<script src="js/SmcTableFunctions.js"></script>

