﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model RetailProApiProxyTest.ViewModels.EmployeePinChangeViewModel;
@{ ViewData["Title"] = "Stella McCartney - User Set-up";}

<div class="col-12 p-3 align-content-center">
    <h3>@Localizer["Changing Pin For:"] @Model.EmployeeName</h3>
</div>

<div class="col-12 p-3 align-content-center">
    <form asp-action="ChangePin">
        @Html.HiddenFor(model => model.EmployeeSid)
        @Html.HiddenFor(model => model.EmployeeName)

        <div class="row pt-2">
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="NewPin1" class="headerfont small">@Localizer["New Pin"]</label>
                    <input asp-for="NewPin1" type="number" pattern="[0-9]" maxlength="8" class="form-control controlfont form-control-sm" style="-webkit-text-security: disc;" autocomplete="off" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    <span asp-validation-for="NewPin1" class="text-danger small"></span>
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="NewPin2" class="headerfont small">@Localizer["Repeat"]</label>
                    <input asp-for="NewPin2" type="number" pattern="[0-9]" maxlength="8" class="form-control controlfont form-control-sm" style="-webkit-text-security: disc;" autocomplete="off" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    <span asp-validation-for="NewPin2" class="text-danger small"></span>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12">
                <input type="submit" value=" @Localizer["Change Pin"]" class="btn-dark btn signupbutton" />
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12">
                <input type="button" value=" @Localizer["Cancel"]" class="btn-dark btn signupbutton" onclick="location.href='@Url.Action("RevertCulture", "Culture")'" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/select2.full.js"></script>
    <script src="~/js/PinChangeScripts.js"></script>
}
