﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model RetailProApiProxyTest.ViewModels.CookieViewModel;
@{ ViewData["Title"] = "Stella McCartney - Customer Sign-up";}

<p class="small controlfont font-weight-bold">DCC @Model.AppVersionString | @Localizer["Subsidiary"]: @Model.SubName | @Localizer["Store"]: @Model.BranchName </p>

<div class="col-12 p-3 align-content-center">
    <h3>@Localizer["MainMenu"]</h3>
</div>

<form>
    <div class="col-12 p-3 align-content-center">
        <div class="row pt-4">
            <div class="col-12">
                <input type="button" class="btn-dark btn signupbutton" value="@Localizer["CustomerSignUp"]" onclick="location.href='@Url.Action("Login", "Home", new { @id = Model.BranchId })'" />
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12">
                <input type="button" class="btn-dark btn signupbutton" value="@Localizer["Setup"]" onclick="location.href='@Url.Action("SystemSetup", "Home")'" />
            </div>
        </div>
    </div>
</form>

