﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model RetailProApiProxyTest.ViewModels.SignatureViewModel;

@{
    ViewData["Title"] = "Stella McCartney - Customer Sign-up";
}

<form asp-action="SaveSignature">
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.CustomerId)
    @Html.HiddenFor(model => model.SignatureRawData)

    <div id="signature-pad" class="signature-pad">
        <div class="signature-pad--body">
            <canvas></canvas>
        </div>
        <div class="signature-pad--footer">
            <div class="description" id="LblClear">@Localizer["Sign Above"]</div>
        </div>
    </div>

    <span asp-validation-for="SignatureRawData" class="text-danger small"></span>

    <div class="row pt-4">
        <div class="col-12">
            <input id="BtnSubmit" type="submit" value="@Localizer["Submit"]" class="btn-dark btn signupbutton" />

            @*            <button id="BtnSubmit" type="button" class="btn-dark btn signupbutton">Submit</button>*@
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/signature_pad.umd.js"></script>
    <script src="~/js/signature_pad_wrapper.js"></script>
}
