﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model RetailProApiProxyTest.ViewModels.CustomerSignUpViewModel;

@{
    ViewData["Title"] = "Stella McCartney - Customer Sign-up";
}

<div class="container bg-white pt-3 pb-3">
    <div class="row">

        <div class="col-12 text-right">
            @await Html.PartialAsync("_CulturePartial")
        </div>
    </div>
    <form asp-action="SignUp">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @Html.HiddenFor(model => model.BranchSid)
        @Html.HiddenFor(model => model.BranchName)
        @Html.HiddenFor(model => model.EmployeeSid)
        @Html.HiddenFor(model => model.CountryCode)
        @Html.HiddenFor(model => model.RegionLabel)
        @Html.HiddenFor(model => model.SubsidiarySid)
        @Html.HiddenFor(model => model.SubsidiaryName)
        @Html.HiddenFor(model => model.SignatureRawData)
        @Html.HiddenFor(model => model.FormStartedDateTime)
        @Html.HiddenFor(model => model.PrivacyPolicyDir)
        @Html.HiddenFor(model => model.PrivacyPolicyEmail)
        @Html.HiddenFor(model => model.PrivacyPolicyAddress)
        @Html.HiddenFor(model => model.CurrentCulture, new { id = "CurrentCulture" })

        @await Html.PartialAsync("_DropdownSearchPartial")

        <div class="row">

            <div class="col-2 text-center"></div>
            <div class="col-8 p-3 text-center">
                <img src="~/img/logo.svg" class="img-fluid w-75" title="Stella McCartney" alt="Stella McCartney">
            </div>
        </div>
        <div class="row">
            <div class="col-3 ">
                <div class="form-group">
                    <label for="SelectedTitleId" class="headerfont small">@Localizer["Title"]</label>
                    @Html.DropDownListFor(m => m.SelectedTitleSid, Model.AllTitles,
                    new { @class = "form-control controlfont form-control-sm", @autocomplete = "off" })
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col-6">
                <div class="form-group">
                    <label asp-for="FirstName" class="headerfont small">@Localizer["FirstName"]</label>
                    <input asp-for="FirstName" class="form-control controlfont form-control-sm" autocomplete="off" />
                    <span asp-validation-for="FirstName" class="text-danger small"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="LastName" class="headerfont small">@Localizer["LastName"]</label>
                    <input asp-for="LastName" class="form-control controlfont form-control-sm" autocomplete="off" />
                    <span asp-validation-for="LastName" class="text-danger small"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label for="Gender" id="GenderLabel" class="headerfont small">@Localizer["Gender"]</label><br />

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="cbGender1" asp-for="Gender" value="M">
                        <label class="form-check-label controlfont small" for="cbGender1">@Localizer["Male"]</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="cbGender2" asp-for="Gender" value="F">
                        <label class="form-check-label controlfont small" for="cbGender2">@Localizer["Female"]</label>
                    </div>
                </div>
            </div>

            <div class="col-1">
                <div class="form-group">
                    <label class="headerfont small">@Localizer["Month"]</label>
                    @Html.DropDownListFor(m => m.SelectedMonth, Model.AllMonths,
                    new { @class = "form-control controlfont form-control-sm", @id = "DdlMonth", @autocomplete = "off" })
                </div>
            </div>

            <div class="col-1">
                <div class="form-group">
                    <label class="headerfont small">@Localizer["Day"]</label>
                    @Html.DropDownListFor(m => m.SelectedDay, Model.AllDays,
                    new { @class = "form-control controlfont form-control-sm", @id = "DdlDay", @autocomplete = "off" })
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label class="headerfont small">@Localizer["Year"]</label>
                    @Html.DropDownListFor(m => m.SelectedYear, Model.AllYears,
                    new { @class = "form-control controlfont form-control-sm", @id = "DdlYear", @autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="row offset-2">
            <span asp-validation-for="SelectedDay" class="text-danger small"></span>&nbsp;
            <span asp-validation-for="SelectedYear" class="text-danger small"></span>
        </div>

        <div class="row pt-3">
            <div class="col-6">
                <div class="form-group">
                    <label for="SelectedNationalityCode" class="headerfont small">@Localizer["Nationality"]</label>
                    @Html.DropDownListFor(m => m.SelectedNationalityCode, Model.AllCountries,
                    new { @class = "form-control controlfont form-control-sm js-example-basic-single" })
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="Profession" class="headerfont small">@Localizer["Profession"]</label>
                    <input asp-for="Profession" class="form-control controlfont form-control-sm" placeholder="@Localizer["ProfessionPlaceholder"]" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                <div class="form-group">
                    <span asp-validation-for="Email" class="text-danger small"></span><br />
                    <label asp-for="Email" class="headerfont small">@Localizer["Email"]</label>
                    <input asp-for="Email" class="form-control controlfont form-control-sm" placeholder="@Localizer["EmailPlaceholder"]" autocomplete="off" type="email" />
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="PhoneNo" class="headerfont small">@Localizer["PhoneNumber"]</label>
                    <input asp-for="PhoneNo" class="form-control controlfont form-control-sm" placeholder="@Localizer["PhoneNumberPlaceholder"]" autocomplete="off" type="tel" />
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-12">
                <div class="form-group">
                    <label for="address1" class="headerfont small">@Localizer["Address"]</label>
                    <input asp-for="AdddressLine1" class="form-control controlfont form-control-sm" placeholder="@Localizer["Line1"]" autocomplete="off" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input asp-for="AdddressLine2" class="form-control controlfont form-control-sm" placeholder="@Localizer["Line2"]" autocomplete="off" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input asp-for="AdddressLine3" class="form-control controlfont form-control-sm" placeholder="@Localizer["Line3"]" autocomplete="off" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input asp-for="City" class="form-control controlfont form-control-sm" placeholder="@Localizer["City"]" autocomplete="off" />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <input asp-for="PostalCode" class="form-control controlfont form-control-sm" placeholder="@Localizer["PostalCode"]" autocomplete="off" />
                </div>
            </div> <div class="w-100"></div>

            <div class="col-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="country" class="headerfont small">@Localizer["Country"]</label>
                        @Html.DropDownListFor(m => m.SelectedCountryCode, Model.AllCountries,
                        new { @class = "form-control controlfont form-control-sm js-example-basic-single", @id = "DdlCountry" })
                    </div>
                </div>
            </div>
            <div class="col-6" id="RegionField" style="@(!Model.AllRegions.Any()?"display: none":"")">
                <div class="form-group">
                    <label for="SelectedRegionId" id="LblRegion" class="headerfont small">@Model.RegionLabel</label>
                    @Html.DropDownListFor(m => m.SelectedRegionCode, Model.AllRegions,
                    new { @class = "form-control controlfont form-control-sm js-example-basic-single", @id = "DdlRegion" })
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-12">
                <label id="LblClear" for="address1" class="headerfont small">@Localizer["Signature"]</label>
                <div id="signature-pad" class="col-12 signature-pad">
                    <div class="signature-pad--body">
                        <canvas />
                    </div>
                </div>
                <span asp-validation-for="SignatureRawData" class="text-danger small"></span>
            </div>
        </div>


        <div class="row pt-3">
            <div class="col-12"><span class="headerfont">@Localizer["ContactPreferences"]</span></div>

            <div class="col-4">
                <span style="font-size: 24px;">
                    <i class="fas fa-at pr-2"></i>
                </span>
                <input type="checkbox" class="controlfont" data-toggle="switch" data-size="small" data-off-text=@Localizer["No"] data-on-text=@Localizer["Yes"] asp-for="CanWeEmail" />
            </div>
            <div class="col-4">
                <span style="font-size: 24px;">
                    <i class="fas fa-phone pr-2"></i>
                </span>
                <input type="checkbox" class="controlfont" data-toggle="switch" data-size="small" data-off-text=@Localizer["No"] data-on-text=@Localizer["Yes"] asp-for="CanWePhone" />
            </div>
            <div class="col-4">
                <span style="font-size: 24px;">
                    <i class="fas fa-envelope pr-2"></i>
                </span>
                <input type="checkbox" class="controlfont" data-toggle="switch" data-size="small" data-off-text=@Localizer["No"] data-on-text=@Localizer["Yes"] asp-for="CanWeMail" />
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-12 controlfont small">
                @Localizer["IHaveRead"], <a href="~/Privacy/PrivacyPolicy?id=@Model.PrivacyPolicyDir/@Localizer["PolicyFileName"]" data-lity class="font-weight-bold text-black-50 font-weight-bold"><u>@Localizer["IHaveReadLink"]</u></a>, @Localizer["IHaveReadPostLink"]
                <br /><br />
                @Localizer["IConsent"]
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-10 controlfont small"><ul><li>@Localizer["ConsentToMarketing"]</li></ul></div>
            <div class="col-2"> <input type="checkbox" class="controlfont" data-toggle="switch" data-size="small" data-off-text=@Localizer["No"] data-on-text=@Localizer["Yes"] asp-for="ConsentToMarketing" /></div>
        </div>

        <div class="row pt-3">
            <div class="col-10 controlfont small"><ul><li>@Localizer["ConsentToPrivacy"]</li></ul></div>
            <div class="col-2"> <input type="checkbox" class="controlfont" data-toggle="switch" data-size="small" data-off-text=@Localizer["No"] data-on-text=@Localizer["Yes"] asp-for="ConsentToPrivacy" /></div>
        </div>

        <div class="row pt-3">
            <div class="col-12 controlfont small">
                @Localizer["BottomPartHeader"] @Model.PrivacyPolicyEmail @Localizer["BottomPartMiddle"] @Model.PrivacyPolicyAddress @Localizer["BottomPartFooter"]
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12">
                <input id="BtnSubmit" type="submit" value=" @Localizer["SignUp"]" class="btn-dark btn signupbutton" />
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12">
                <input type="button" value=" @Localizer["Cancel"]" class="btn-dark btn signupbutton" onclick="location.href='@Url.Action("RevertCulture", "Culture")'" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/SignupScripts.js"></script>
    <script src="~/js/signature_pad.umd.js"></script>
    <script src="~/js/signature_pad_wrapper.js"></script>
    <script src="~/js/select2.full.js"></script>
}


