﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = Localizer.GetString(c.Name), Selected = c.Name == Model.SelectedLanguage })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

@model RetailProApiProxyTest.ViewModels.SystemSetupViewModel;

@{
    ViewData["Title"] = "System Setup";
}

<h4 class="headerfont">@Localizer["SystemSetup"]</h4>
<hr />


@await Html.PartialAsync("_LanguagePartial")

<div>
    <form asp-action="SystemSetup" class="form-horizontal nav-link text-dark">

        @Html.HiddenFor(m => m.SelectedLanguage)
        @Html.HiddenFor(m => m.SelectedStoreName)
        @Html.HiddenFor(m => m.SelectedSubsidiaryName)

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label controlfont">@Localizer["SelectSubsidiary"]</label>
                    @Html.DropDownListFor(m => m.SelectedSubsidiarySid, Model.AllSubs,
                    new { @class = "form-control controlfont form-control-sm", @Id = "DdlSub" })
                    <span asp-validation-for="SelectedSubsidiarySid" class="text-danger small"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label controlfont">@Localizer["SelectStore"]</label>
                    @Html.DropDownListFor(m => m.SelectedStoreSid, Model.AllStores, 
                    new { @class = "form-control controlfont form-control-sm", @Id = "DdlStore" })
                    <span asp-validation-for="SelectedStoreSid" class="text-danger small"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="submit" value="@Localizer["Save"]" class="btn-dark btn signupbutton" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/SetupScripts.js"></script>
}



