﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model RetailProApiProxyTest.ViewModels.ThankYouViewModel;

@{
    ViewData["Title"] = "Thank you.";
}

<div class="row">
    <div class="col-12 p-3 text-center headerfont">
        <img src="~/img/bg_thanks.jpg" class="img-fluid" alt="Responsive image">
    </div>
</div>
<div class="row">
    <div class="col-12 p-3 text-left controlfont">
        @Localizer["Welcome"] @Model.FormattedName,
    </div>
</div>
<div class="row">
    <div class="col-12 p-3 text-left controlfont">
        @Localizer["HandDeviceBack"]
        <br /><br />
        @Localizer["StellaTeam"]
    </div>
</div>
<div class="row">
    <div class="col-12 p-3 text-center controlfont">
        <b>@Localizer["CustomerId"] @Model.CustomerDisplayId</b>
    </div>
</div>

<div class="row">
    <div class="col-12 p-3 text-center controlfont">
        <barcode content="@Model.CustomerId" width="300" height="50" />
    </div>
</div>

<div class="row">
    <div class="col-12 p-3 text-center">
        <input type="button" value="@Localizer["Continue"]" class="btn-dark btn controlfont" onclick="location.href='@Url.Action("RevertCulture", "Culture")'" />
    </div>
</div>