﻿@using DCC.Classes
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
 var cultureItems = LocOptions.Value.SupportedUICultures
     .Select(c => new SelectListItem { Value = c.Name, Text = c.FirstLetterUpperCaseNativeName() })
     .ToList();
 var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}
<div title="@Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage"
          asp-controller="Culture"
          asp-action="SetCulture"
          asp-route-returnUrl="@returnUrl"
          method="post"
          class="form-horizontal nav-link text-dark"
          role="form">
        <select name="culture" id="culture" class="selectpicker controlfont"
                onchange="this.form.submit();">
            @foreach (var ci in cultureItems)
            {
                var ciVal = ci.Value;

                if (ciVal == "en" && Model.SubsidiaryName == "US") { ciVal = "usen"; } else if (ciVal == "en") { ciVal = "gben"; };

                if (requestCulture.RequestCulture.Culture.Name == ci.Value)
                {
                    <option data-icon="flag-icon flag-icon-@ciVal flag-icon-squared pr-3" value="@ci.Value" selected>&nbsp;&nbsp;&nbsp;@ci.Text</option>
                }
                else
                {
                    <option data-icon="flag-icon flag-icon-@ciVal flag-icon-squared  pr-3" value="@ci.Value">&nbsp;&nbsp;&nbsp;@ci.Text</option>
                }
            }

        </select>
    </form>
</div>

@section Scripts {
    <script src="~/js/SignupScripts.js"></script>
}