﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<input type="hidden" id="Character" value="@Localizer["character"]">
<input type="hidden" id="CharacterPluralEnd" value="@Localizer["characterPluralEnd"]">
<input type="hidden" id="CharacterSingularEnd" value="@Localizer["characterSingularEnd"]">

<input type="hidden" id="Item" value="@Localizer["item"]">
<input type="hidden" id="ItemPluralEnd" value="@Localizer["itemPluralEnd"]">
<input type="hidden" id="ItemSingularEnd" value="@Localizer["itemSingularEnd"]">

<input type="hidden" id="LoadingMoreResults" value="@Localizer["Loading more results"]">

<input type="hidden" id="NoResultsFound" value="@Localizer["No results found"]">
<input type="hidden" id="OrMoreCharacters" value="@Localizer["or more characters"]">

<input type="hidden" id="PleaseDelete" value="@Localizer["Please delete"]">
<input type="hidden" id="PleaseEnter" value="@Localizer["Please enter"]">

<input type="hidden" id="RemoveAllItems" value="@Localizer["Remove all items"]">
<input type="hidden" id="Searching" value="@Localizer["Searching"]">

<input type="hidden" id="TheResultsCouldNotBeLoaded" value="@Localizer["The results could not be loaded"]">
<input type="hidden" id="YouCanOnlySelect" value="@Localizer["You can only select"]">

