﻿@using DCC.Classes
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
 var cultureItems = LocOptions.Value.SupportedUICultures
     .Select(c => new SelectListItem { Value = c.Name, Text = c.FirstLetterUpperCaseNativeName(), Selected = c.Name == Model.SelectedLanguage })
     .ToList();
 var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}
<div title="@Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" asp-controller="Culture" asp-action="SetCulture" asp-route-returnUrl="@returnUrl" method="post" class="form-horizontal nav-link text-dark" role="form">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label controlfont">@Localizer["SelectLanguage"]</label>
                    <select name="culture" class="form-control controlfont form-control-sm" id="DdlLanguage"
                            onchange="this.form.submit();"
                            asp-for="@requestCulture.RequestCulture.UICulture.Name"
                            asp-items="cultureItems">
                    </select>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#DdlLanguage").change(function () {

                                $("#SelectedLanguage").val($(this).find('option:selected').val());

                            });

                            $("#SelectedLanguage").val($(this).find('option:selected').val());
                        });
                    </script>
                </div>
            </div>
        </div>
    </form>
</div>