﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/select2.min.css">
    <link rel="stylesheet" href="~/css/signature-pad.css">
    <link rel="stylesheet" href="~/css/PinPad.css">
    <link href="~/css/bootstrap-switch.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-switch.min.js"></script>

    <script src="https://kit.fontawesome.com/28dedf7b69.js" crossorigin="anonymous"></script>

    <link href="~/css/dcc.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="~/manifest.webmanifest">
    <link rel="apple-touch-icon" href="~/img/Icon-App-76x76@2x.png">
    <script src="~/js/bootstrap-select.js"></script>
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/flag-icon.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/js/lity.min.js"></script>
    <link href="~/css/lity.min.css" rel="stylesheet" />
    <script src="~/js/SmcTableFunctions.js"></script>
    @*<link rel="stylesheet" type="text/css" href="~/css/site.css" />*@
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
</head>
<body class="block-swipe-nav">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @RenderSection("Scripts", required: false)
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js');
        }

        const element = document.querySelector('.block-swipe-nav');
        element.addEventListener('touchstart', (e) => {
            // is not near edge of view, exit
            if (e.pageX > 10 && e.pageX < window.innerWidth - 10) return;
            // prevent swipe to navigate gesture
            e.preventDefault();
        });
    </script>
</body>

</html>
