﻿@model DCCManager.Models.Subsidiary

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subsidiary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubsidiaryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubsidiaryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubsidiaryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubsidiaryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivacyPolicyDir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivacyPolicyDir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivacyPolicyEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivacyPolicyEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivacyPolicyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivacyPolicyAddress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SubsidiaryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
