﻿@model DCCManager.Models.Subsidiary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subsidiary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            Active
        </dt>
        <dd class="col-sm-9">
            @if (Model.IsActive)
            {@Html.Label("Yes") }
            else
            { @Html.Label("No")}

        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Sid)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Sid)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SubsidiaryCode)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SubsidiaryCode)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SubsidiaryName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SubsidiaryName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PrivacyPolicyDir)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PrivacyPolicyDir)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PrivacyPolicyEmail)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PrivacyPolicyEmail)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PrivacyPolicyAddress)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PrivacyPolicyAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubsidiaryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
