﻿@model IEnumerable<DCCManager.Models.Subsidiary>

@{
    ViewData["Title"] = "Index";
}

<h4>Subsidiaries</h4>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table w-auto small">
    <thead>
        <tr>
            <th>
                Active
            </th>
            <th>
                Name
            </th>
            <th>
                Country
            </th>
            <th>
                Priv Dir
            </th>
            <th>
                Privacy Policy Email
            </th>
            <th>
                Privacy Policy Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {


<tr>
    <td>
        @if (item.IsActive)
        {
            <img src="~/img/Check.png" width="16" height="16" title="Active" alt="Active">
        }
    </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubsidiaryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivacyPolicyDir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivacyPolicyEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivacyPolicyAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubsidiaryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubsidiaryId">Details</a> |
                <a asp-action="ToggleActive" asp-route-id="@item.SubsidiaryId">Toggle Active</a>
            </td>
        </tr>
}
    </tbody>
</table>
