﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model DCC.ViewModels.CustomerDtoDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h4>@Localizer["Client Details"]</h4>
<br />

<div class="row p-t-3 actionButtons">
    <div class="col-12">
        <div class="form-group">
            <button class="btn-dark btn" onclick="location.href='@Url.Action("Index", "RecentClients" , new { @id=@Model.Id })'">@Localizer["Back To List"] </button>
            @*<button class="btn-dark btn btn-edit btn-action" id="BtnRereate" title="Create new form with this data" disabled>Recreate Form</button>*@
        </div>
    </div>
</div>

<hr />

<div class="row p-t-3">

    <div class="col-4">
        <div class="form-group">
            <label asp-for="@Model.CreatedDateTime" class="headerfont small">@Localizer["Created Date"]</label>
            <input asp-for="@Model.CreatedDateTime" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>

    <div class="w-100"></div>

    <div class="col-2">
        <div class="form-group">
            <label asp-for="@Model.Item.Title" class="headerfont small">@Localizer["Title"]</label>
            <input asp-for="@Model.Item.Title" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>

    <div class="col-5">
        <div class="form-group">
            <label asp-for="@Model.Item.FirstName" class="headerfont small">@Localizer["First Name"]</label>
            <input asp-for="@Model.Item.FirstName" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>

    <div class="col-5">
        <div class="form-group">
            <label asp-for="@Model.Item.LastName" class="headerfont small">@Localizer["Last Name"]</label>
            <input asp-for="@Model.Item.LastName" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
</div>

@if (Model.Item.FuriganaFirstName != null || Model.Item.FuriganaLastName != null)
{
    <div class="row p-t-3">
        <div class="col-2">
            <div class="form-group">
                <label class="headerfont small">&nbsp;</label>
                <h6 class="small">@Localizer["Furigana"]:</h6>
            </div>
        </div>

        <div class="col-5">
            <div class="form-group">
                <label asp-for="@Model.Item.FuriganaFirstName" class="headerfont small">@Localizer["First Name"]</label>
                <input asp-for="@Model.Item.FuriganaFirstName" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
            </div>
        </div>

        <div class="col-5">
            <div class="form-group">
                <label asp-for="@Model.Item.FuriganaLastName" class="headerfont small">@Localizer["Last Name"]</label>
                <input asp-for="@Model.Item.FuriganaLastName" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-3">
        <div class="form-group">
            <label for="Gender" id="GenderLabel" class="headerfont small">@Localizer["Gender"]</label><br />
            <input asp-for="@Model.Gender" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>

    <div class="col-3">
        <div class="form-group text-right">
            <label class="headerfont small">&nbsp;</label>
            <h6 class="small">@Localizer["Date of Birth"]:</h6>
        </div>
    </div>

    <div class="col-2">
        <div class="form-group">
            <label class="headerfont small">@Localizer["Month"]</label>
            <input asp-for="@Model.Month" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>

    <div class="col-2">
        <div class="form-group">
            <label class="headerfont small">@Localizer["Day"]</label>
            <input asp-for="@Model.Day" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label class="headerfont small">@Localizer["Year"]</label>
            <input asp-for="@Model.Year" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="SelectedNationalityCode" class="headerfont small">@Localizer["Nationality"]</label>
            <input asp-for="@Model.Item.Nationality" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="Profession" class="headerfont small">@Localizer["Profession"]</label>
            <input asp-for="@Model.Item.Profession" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <span asp-validation-for="Email" class="text-danger small"></span><br />
            <label asp-for="Email" class="headerfont small">@Localizer["Email"]</label>
            <input asp-for="@Model.Email" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label asp-for="Phone" class="headerfont small">@Localizer["Phone Number"]</label>
            <input asp-for="@Model.Phone" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="address1" class="headerfont small">@Localizer["Address"]</label>
            <input asp-for="@Model.AddressLine1" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <input asp-for="@Model.AddressLine2" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <input asp-for="@Model.AddressLine3" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <input asp-for="@Model.City" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <input asp-for="@Model.PostalCode" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div> <div class="w-100"></div>

    <div class="col-6">
        <div class="form-group">
            <div class="form-group">
                <label for="Country" class="headerfont small">@Localizer["Country"]</label>
                <input asp-for="@Model.Country" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="Region" id="LblRegion" class="headerfont small">@Model.RegionLabel</label>
            <input asp-for="@Model.Region" class="form-control controlfont form-control-sm" autocomplete="off" readonly="readonly" />
        </div>
    </div>
</div>

<div class="row p-b-3">
    <div class="col-12"><span class="headerfont">@Localizer["Contact Preferences"]</span></div>
</div>

<div class="row p-t-1">
    <div class="col-4 controlfont small"><ul><li>@Localizer["Allow Contact by Email"]</li></ul></div>
    <div class="col-2">
        <input type="checkbox" class="controlfont" data-toggle="switch" data-size="small" data-off-text=@Localizer["No"] data-on-text=@Localizer["Yes"] asp-for="CanWeEmail" readonly="readonly" />
    </div>
</div>

<div class="row p-t-1">
    <div class="col-4 controlfont small"><ul><li>@Localizer["Allow Contact by Phone"]</li></ul></div>
    <div class="col-2">
        <input type="checkbox" class="controlfont" data-toggle="switch" data-size="small" data-off-text=@Localizer["No"] data-on-text=@Localizer["Yes"] asp-for="CanWePhone" readonly="readonly" />
    </div>
</div>

<div class="row p-t-1">
    <div class="col-4 controlfont small"><ul><li>@Localizer["Allow Contact by Post"]</li></ul></div>
    <div class="col-2">
        <input type="checkbox" class="controlfont" data-toggle="switch" data-size="small" data-off-text=@Localizer["No"] data-on-text=@Localizer["Yes"] asp-for="CanWeMail" readonly="readonly" />
    </div>
</div>

<div class="row p-t-1">
    <div class="col-4 controlfont small"><ul><li>@Localizer["Consent To Marketing"]</li></ul></div>
    <div class="col-2"> <input type="checkbox" class="controlfont" data-toggle="switch" data-size="small" data-off-text=@Localizer["No"] data-on-text=@Localizer["Yes"] asp-for="ConsentToMarketing" readonly="readonly" /></div>

</div>

<div class="row p-t-1">
    <div class="col-4 controlfont small"><ul><li>@Localizer["Consent To Privacy"]</li></ul></div>
    <div class="col-2"> <input type="checkbox" class="controlfont" data-toggle="switch" data-size="small" data-off-text=@Localizer["No"] data-on-text=@Localizer["Yes"] asp-for="ConsentToPrivacy" readonly="readonly" /></div>
</div>

<hr />


        @section Scripts {
<script src="~/js/DetailsScripts.js"></script>
<script src="~/js/select2.full.js"></script>
        }
