﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model DCC.ViewModels.LogListViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="limiter">
    <h4>
        @Localizer["Recent Clients"]</h4>
        <br />
        <form asp-action="">
            <div class="actionButtons">
                <p>
                    <input type="button" value="@Localizer["Back to Main Menu"]" class="btn-dark btn" onclick="location.href='@Url.Action("RevertCulture", "Culture")'" />
                    <button class="btn-dark btn btn-edit btn-action" id="BtnDetails" title="@Localizer["View Details"]">@Localizer["View Details"]</button>
                </p>
            </div>
            <hr />
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver6 m-b-100">
                        @Html.HiddenFor(x => x.SelectedItem)
                        @Html.HiddenFor(x => x.ControlerName)
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="column160 p-l-10">@Localizer["Date"]</th>
                                        <th class="column70">@Localizer["Status"]</th>
                                        <th class="column100">@Localizer["Id"]</th>
                                        <th class="columnAuto">@Localizer["Name"]</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                    @foreach (var item in Model.ItemList)
                                    {
                                        <tr id="@item.LogEntryId" class="row100 body">
                                            <td class="column160 p-l-10">
                                                @Html.DisplayFor(modelItem => item.EventDate)
                                            </td>
                                            <td class="column70">
                                                @Html.DisplayFor(modelItem => item.CreationResult)
                                            </td>
                                            <td class="column100">
                                                @Html.DisplayFor(modelItem => item.CustomerId)
                                            </td>
                                            <td class="columnAuto">
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <input type="button" value="@Localizer["Back to Main Menu"]" class="btn-danger btn signupbutton" onclick="location.href='@Url.Action("RevertCulture", "Culture")'" />
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/vendor/select2/select2.min.js"></script>
<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        var ps = new PerfectScrollbar(this);
        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
