﻿@model DCCManager.ViewModels.ListViewModel<Employee>


@{
    ViewData["Title"] = "Index";
}

<h4>Employees</h4>

<form asp-controller="Employees" asp-action="Index">

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="headerfont small">Search for</label>
                <input asp-for="SearchPhrase" name="SearchPhrase" class="form-control controlfont form-control-sm" autofocus="autofocus" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group text-center">
                <input type="submit" class="btn-dark btn btn-new" value="Search All Employees" />
            </div>
        </div>
    </div>

</form>

@if (Model.ItemList.Count > 0)
{

    <div class="limiter">
        <form asp-action="">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver6 m-b-100">
                        @Html.HiddenFor(x => x.SelectedItem)
                        @Html.HiddenFor(x => x.ControlerName)
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column2">Pin</th>
                                        <th class="cell100 column3">Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                    @foreach (var item in Model.ItemList)
                                    {
                                        <tr id="@item.Sid" class="row100 body">
                                            <td class="cell100 column2">
                                                @Html.DisplayFor(modelItem => item.Pin)
                                            </td>
                                            <td class="cell100 column3">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
} 

<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/vendor/select2/select2.min.js"></script>
<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);
			$(window).on('resize', function(){
				ps.update();
			})
		});
</script>
<script src="js/SmcTableSingleClickFunctions.js"></script>
