﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col-12 headerfont pb-3 pt-3">
        BREVE AVISO DE PRIVACIDAD DE STELLA McCARTNEY
    </div>
    <div class="col-12 controlfont small">
        Información básica sobre la protección de datos personales (más información solicítela a su asistente de venta)
    </div>
    <div class="col-12 controlfont small">
        <table class="table">            
            <tbody>
                <tr>
                    <th scope="row">a)</th>
                    <th scope="row" class="w-25">¿Cuándo podremos recabar sus datos personales?</th>
                    <td>Cuando desee registrarse como cliente, adquiera productos o servicios de SML (en tienda o en línea) o participe en iniciativas de SML y mantenerse actualizado sobre el mundo SML.</td>

                </tr>
                <tr>
                    <th scope="row">b)</th>
                    <th scope="row">¿Quién controla sus datos personales?</th>
                    <td>Stella McCartney Ltd con domicilio en Olaf Street 3, Londra W11 4BE, Regno Unito (<b>"SML"</b>), y también en cooperación con cada filial local de SML, según sea el caso, con respecto a las ventas a clientes registrados.</td>

                </tr>
                <tr>
                    <th scope="row">c)</th>
                    <th scope="row">¿Qué datos personales recabamos, para qué propósitos y bajo qué fundamento jurídico los tratamos?</th>
                    <td>
                        Podremos tratar, según sea el caso, su nombre, fecha de nacimiento, dirección, número de teléfono, dirección de correo electrónico, datos relativos a aficiones, trabajo, intereses, datos de compra (por ejemplo, productos adquiridos, ubicación, fecha y hora de compra, datos de la entrega) y los datos sobre sus visitas a nuestro sitio web (por ejemplo, productos consultados) para:
                        <br />
                        <ol>
                            <li>
                                cumplir obligaciones legales (cumplir una obligación legal aplicable a SML);
                            </li>
                            <li>
                                cumplir con obligaciones estrictamente vinculadas a la compra de un producto o a la prestación de un servicio, como la participación en un juego o en otra iniciativa (llevar a cabo un contrato en el que usted es parte);
                            </li>
                            <li>
                                llevar a cabo iniciativas promocionales y de mercadotecnia (con su consentimiento);
                            </li>
                            <li>
                                analizar sus hábitos de consumo (con su consentimiento).
                            </li>
                        </ol>
                    </td>

                </tr>
                <tr>
                    <th scope="row">d)</th>
                    <th scope="row">¿Cómo tratamos y protegemos sus datos personales?</th>
                    <td>Sus datos personales pueden ser tratados, ya sea electrónicamente o en formato impreso, y están protegidos por medidas técnicas y organizativas de seguridad adecuadas.</td>
                </tr>
                <tr>
                    <th scope="row">e)</th>
                    <th scope="row">¿Durante cuánto tiempo conservaremos sus datos personales?</th>
                    <td>Durante no más de 10 años para el cumplimiento de obligaciones legales y la ejecución del contrato, y durante no más de 7 (siete) años para fines de mercadotecnia y elaboración de perfiles.</td>
                </tr>
                <tr>
                    <th scope="row">f)</th>
                    <th scope="row">¿Es la aportación de sus datos obligatoria u opcional y cuáles son las posibles consecuencias de la negativa a facilitarlos?</th>
                    <td>
                        Deberá facilitar sus datos para los fines indicados en el punto c) (1) (obligaciones legales) y (2) (fines contractuales), de lo contrario no podremos ni adjudicarle el producto como cliente SML ni permitirle participar en las iniciativas de SML.<br />
                        En cambio, facilitarnos sus datos para los fines indicados en el punto c) (3) (mercadotecnia) y (4) (elaboración de perfiles) es opcional. Usted no sufrirá ninguna consecuencia negativa si decide no facilitarnos sus datos para estos fines.

                    </td>
                </tr>
                <tr>
                    <th scope="row">g)</th>
                    <th scope="row">¿Cómo compartimos los datos personales recogidos, cómo funcionan nuestros servicios globales y con qué entidades de fuera del eee podemos compartir los datos personales?</th>
                    <td>
                        SML no difundirá sus datos personales. Compartiremos sus datos con proveedores externos de determinados servicios auxiliares al tratamiento. Estos actuarán como encargados o responsables del tratamiento de sus datos personales. Si lo desea, puede acceder a un listado de estos proveedores.<br />
                        Al registrarse como SML Client, sus datos personales podrán ser tratados dentro y fuera de su país de residencia y fuera del EEE, ya que la gestión de relaciones con el cliente (CRM) de SML se lleva a cabo y otorga ventajas de SML sus clientes a nivel mundial (en ese caso, se aplicarán las cláusulas contractuales tipo de la UE).
                    </td>
                </tr>
                <tr>
                    <th scope="row">h)</th>
                    <th scope="row">Decisiones automatizadas, incluyendo elaboración de perfiles</th>
                    <td>Con su consentimiento, SML podrá elaborar su perfil comercial. Si esto sucede, SML le ofrecerá los productos que más se adapten a usted según sus hábitos de compra.</td>
                </tr>
                <tr>
                    <th scope="row">i)</th>
                    <th scope="row">¿Cuáles son sus derechos de privacidad?</th>
                    <td>
                        Usted tiene varios derechos para proteger sus datos personales, incluido el derecho:
                        <br />
                        <ol>
                            <li>
                                a ser informado sobre cómo se procesan los datos personales (como se explica en esta declaración)
                            </li>
                            <li>
                                a tener acceso y recibir una copia de los datos personales que tenemos almacenados sobre usted;
                            </li>
                            <li>
                                a la rectificación de datos personales incorrectos
                            </li>
                            <li>
                                en determinadas circunstancias, a solicitar la supresión de sus datos personales o limitar su uso
                            </li>
                            <li>
                                a solicitar la portabilidad de los datos y la cesión de los datos que nos ha facilitado
                            </li>
                            <li>
                                cuando utilizamos sus datos con su consentimiento, a retirar ese consentimiento en cualquier momento
                            </li>
                            <li>
                                a impugnar el uso del interés legítimo como base legal del procesamiento
                            </li>
                            <li>
                                a proponer una reclamación a la autoritad de control para la protección de datos personales.
                            </li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <th scope="row">j)</th>
                    <th scope="row">¿Cómo puede usted ejercer sus derechos de privacidad?</th>
                    <td>
                        Para ejercer sus derechos diríjase a SML enviando su petición a la siguiente dirección de correo electrónico: <b>privacy@store.stellamccartney.com</b>
                        Usted puede darse de baja de nuestras comunicaciones de marketing en cualquier momento haciendo clic en el enlace en la parte inferior de cada una de nuestras comunicaciones por correo electrónico.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


