﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/select2.min.css">
    <link rel="stylesheet" href="~/css/signature-pad.css">
    <link rel="stylesheet" href="~/css/PinPad.css">
    <link href="~/css/bootstrap-switch.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-switch.min.js"></script>

    <script src="https://kit.fontawesome.com/28dedf7b69.js" crossorigin="anonymous"></script>

    <link href="~/css/dcc.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="DCC 1.1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="~/manifest.webmanifest" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/Icon-App-76x76@2x.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/Icon-App-76x76@2x.png">
    <link rel="apple-touch-icon" sizes="167x167" href="~/img/Icon-App-76x76@2x.png">
    <link rel="apple-touch-icon" href="~/img/Icon-App-76x76@2x.png">
    <script src="~/js/bootstrap-select.js"></script>
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/flag-icon.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/js/lity.min.js"></script>
    <link href="~/css/lity.min.css" rel="stylesheet" />


</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
