﻿@model CurrentUserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container bg-white pt-3 pb-3">
    <div class="row">
        <div class="col-2 text-center"></div>
        <div class="col-8 p-3 text-center">
            <img src="~/img/logo.svg" class="img-fluid w-75" title="Stella McCartney" alt="Stella McCartney">
        </div>
    </div>

    <div class="row">
        <div class="col-2 text-center"></div>
        <div class="col-8 p-3 text-center">
            <h4>DCC Manager</h4>
            <h6>@Model.Username</h6>
        </div>
    </div>

@*    <div class="row pt-4">
        <div class="col-12 align-content-center">
            <input type="button" class="btn-dark btn signupbutton" value="Country Management" onclick="location.href='@Url.Action("Index", "Countries")'" />
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12 align-content-center">
            <input type="button" class="btn-dark btn signupbutton" value="Title Management" onclick="location.href='@Url.Action("Index", "Titles")'" />
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12 align-content-center">
            <input type="button" class="btn-dark btn signupbutton" value="Branch Management" onclick="location.href='@Url.Action("Index", "Branches")'" />
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12 align-content-center">
            <input type="button" class="btn-dark btn signupbutton" value="Subsidiary Management" onclick="location.href='@Url.Action("Index", "Subsidiaries")'" />
        </div>
    </div>*@

    <div class="row pt-4">
        <div class="col-12 align-content-center">
            <input type="button" class="btn-dark btn signupbutton" value="Employee Management" onclick="location.href='@Url.Action("Index", "Employees")'" />
        </div>
    </div>
</div>
