﻿@{
    ViewData["Title"] = "Unauthorised";
}

<div class="container bg-white pt-3 pb-3">
    <div class="row">
        <div class="col-2 text-center"></div>
        <div class="col-8 p-3 text-center">
            <img src="~/img/logo.svg" class="img-fluid w-75" title="Stella McCartney" alt="Stella McCartney">
        </div>
    </div>

    <div class="row">
        <div class="col-2 text-center"></div>
        <div class="col-8 p-3 text-center">
            <h4>DCC Manager</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2 text-center"></div>
        <div class="col-8 p-3 text-center">
            <h6>Yuo are not auhorised to view this page.</h6>
        </div>
    </div>

</div>
