﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model System.Version;

@{
    ViewData["Title"] = "Database Version";
}

<div class="row">
    <div class="col-12 p-3 text-center headerfont">
        <img src="~/img/bg_thanks.jpg" class="img-fluid" alt="Responsive image">
    </div>
</div>

<div class="row">
    <div class="col-12 p-3 text-left controlfont">
        @Localizer["Database Version Required"] : @Model.ToString()
    </div>
</div>
