﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model DCC.ViewModels.ErrorViewModel;

@{
    ViewData["Title"] = "Oooops...";
}

<div class="row">
    <div class="col-12 p-3 text-center headerfont">
        <img src="~/img/bg_ooops.jpg" class="img-fluid" alt="Responsive image">
    </div>
</div>

<div class="row">
    <div class="col-12 p-3 text-left controlfont">
        @Localizer["Ooops"]
    </div>
</div>

<div class="row">
    <div class="col-12 p-3 text-left controlfont">
        @Localizer["Error Code:"] @Model.LogId
    </div>
</div>

<div class="row">
    <div class="col-12 p-3 text-left controlfont">
        @Localizer["HandDeviceBack"]
        <br /><br />
        @Localizer["StellaTeam"]
    </div>
</div>

<div class="row">
    <div class="col-12 p-3 text-center">
        <input type="button" value="@Localizer["Continue"]" class="btn-dark btn controlfont" onclick="location.href='@Url.Action("RevertCulture", "Culture")'" />
    </div>
</div>