﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model DCC.ViewModels.EmployeeLoginViewModel;
@{ ViewData["Title"] = "Stella McCartney - Customer Sign-up";}

<div class="col-12 p-3 align-content-center">
    <h3>@Localizer["Please Log in"]</h3>
</div>

<div class="col-12 p-3 align-content-center">
    <form asp-action="LogIn" id="MainForm">
        @Html.HiddenFor(model => model.BranchSid)
        @Html.HiddenFor(model => model.LoginDestination)
        @Html.HiddenFor(model => model.TimeoutSeconds, new { Id = "TimeoutSeconds" })

        @await Html.PartialAsync("_DropdownSearchPartial")

        @*<div class="row">
            <div class="col-12">
                <label id="time">00:00</label>&nbsp;<label id="time2">00:00</label>&nbsp;<label id="blur">YES</label>
            </div>
        </div>*@

        <div class="row pt-2">
            <div class="col-12">
                <div class="form-group">
                    <label for="SelectedEmployeeSid" class="headerfont small">@Localizer["Employee"]</label>
                    @Html.DropDownListFor(m => m.SelectedEmployeeSid, Model.AllEmployees,
                    new { @class = "form-control controlfont form-control-sm js-example-basic-single", @autocomplete = "off" })
                    <span asp-validation-for="SelectedEmployeeSid" class="text-danger small"></span>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12 text-center">

                <table class="pinpad" id="pinpad">
                    <tr>
                        <td colspan="3" class="pinpad_td_result">
                            @Html.PasswordFor(model => model.Pin, new { @readonly = "readonly", @id = "pinpad_result", @class = "pinpad_result controlfont" })
                            <span asp-validation-for="Pin" class="text-danger small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="pinpad_td_btn  text-center">
                            <input type="button" class="pinpad_btn btn btn-light" value="7" ID="Button7" />
                        </td>
                        <td class="pinpad_td_btn  text-center">
                            <input type="button" class="pinpad_btn btn btn-light" value="8" ID="Button8" />
                        </td>
                        <td class="pinpad_td_btn  text-center">
                            <input type="button" class="pinpad_btn btn btn-light" value="9" ID="Button9" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pinpad_td_btn  text-center">
                            <input type="button" class="pinpad_btn btn btn-light" value="4" ID="Button4" />
                        </td>
                        <td class="pinpad_td_btn  text-center">
                            <input type="button" class="pinpad_btn btn btn-light" value="5" ID="Button5" />
                        </td>
                        <td class="pinpad_td_btn  text-center">
                            <input type="button" class="pinpad_btn btn btn-light" value="6" ID="Button6" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pinpad_td_btn  text-center">
                            <input type="button" class="pinpad_btn btn btn-light" value="1" ID="Button1" />
                        </td>
                        <td class="pinpad_td_btn  text-center">
                            <input type="button" class="pinpad_btn btn btn-light" value="2" ID="Button2" />
                        </td>
                        <td class="pinpad_td_btn  text-center">
                            <input type="button" class="pinpad_btn btn btn-light" value="3" ID="Button3" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pinpad_td_btn  text-center">
                            <input type="button" class="pinpad_btn btn btn-danger" value="C" ID="ButtonClr" />
                        </td>
                        <td class="pinpad_td_btn  text-center">
                            <input type="button" class="pinpad_btn btn btn-light" value="0" ID="Button0" />
                        </td>
                        <td class="pinpad_td_btn  text-center">
                            @*<input type="button" class="pinpad_btn btn btn-light" value="!" ID="ButtonExcl" />*@
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12">
                <input type="submit" id="BtnSubmit" value=" @Localizer["Log in"]" class="btn-dark btn signupbutton" />
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-12">
                <input type="button" value=" @Localizer["Cancel"]" class="btn-danger btn signupbutton" onclick="location.href='@Url.Action("RevertCulture", "Culture")'" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/pin-pad-wrapper.js"></script>
    <script src="~/js/select2.full.js"></script>
    <script src="~/js/LoginScripts.js"></script>
    <script src="~/js/TimeOutScripts.js"></script>
}
