﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col-12 headerfont pb-3 pt-3">
        STELLA McCARTNEY SHORT PRIVACY NOTICE
    </div>
    <div class="col-12 controlfont small">
        Basic information on personal data protection more info upon request to the sale assistant
    </div>
    <div class="col-12 controlfont small">
        <table class="table">            
            <tbody>
                <tr>
                    <th scope="row">a)</th>
                    <th scope="row" class="w-25">When personal data are collected?</th>
                    <td>If you wish to become a registered client, purchase SML products or services (in-store, through distant sale or online) or participate to SML initiatives and remain updated on SML world.</td>

                </tr>
                <tr>
                    <th scope="row">b)</th>
                    <th scope="row">Who controls your personal data?</th>
                    <td>Stella McCartney Ltd with registered office at 3 Olaf Street, London W11 4BE ("<b>SML</b>"), also in cooperation with each SML local affiliates or partner, as the case may be, with respect to the sales to registered clients. </td>

                </tr>
                <tr>
                    <th scope="row">c)</th>
                    <th scope="row">Which personal data do we collect and for which purposes and under which legal basis do we process the personal data collected? </th>
                    <td>
                        Your name, surname, date of birth, address, telephone number, e-mail address, data concerning hobbies, job, interests, purchase data (e.g., purchased products, location, date and time of purchase, delivery data), data and number of your visits to our physical and on-line store  (e.g. viewed products) may be processed, as the case may be, to:
                        <br />
                        <ol>
                            <li>
                                fulfil legal obligations (compliance with a legal obligation to which SML is subject);
                            </li>
                            <li>
                                fulfil obligations strictly connected to the purchase of a product or the provision of a service such as the participation to a game, contest or other initiatives (performance of a contract to which you are a party);
                            </li>
                            <li>
                                carry out marketing and promotions initiatives (with your consent);
                            </li>
                            <li>
                                analyse your consumer habits (with your consent).
                            </li>
                        </ol>
                    </td>

                </tr>
                <tr>
                    <th scope="row">d)</th>
                    <th scope="row">How your personal data are processed and protected?</th>
                    <td>Your personal data may be processed, either electronically or in hard copy form, and are protected with appropriate security, technical and organizational measures.</td>
                </tr>
                <tr>
                    <th scope="row">e)</th>
                    <th scope="row">How long do we keep your personal data?</th>
                    <td>For a period not exceeding 10 years to comply with a legal obligation and to perform the contract and for a period not exceeding <b>7 (seven) years for marketing and profiling</b>. We may continue to use anonymised data that has been aggregated with other purposes.  </td>
                </tr>
                <tr>
                    <th scope="row">f)</th>
                    <th scope="row">Are personal data required or optional and which are  possible consequences of failure to provide such data?</th>
                    <td>
                        You must provide your data for the purposes set out under point c)(1) (legal duties), and (2) (contractual purposes), otherwise we will be unable to sell you the product as a registered client or to let you participate to SML’s initiatives.
                        Providing data for the purposes set out under point c) (3) (marketing purpose) and (4) (profiling purpose) is instead optional. Not providing your data for these purposes will not have any negative consequences for you.
                    </td>
                </tr>
                <tr>
                    <th scope="row">g)</th>
                    <th scope="row">How do we share the personal data collected, how do our global services work and to which entities your personal data can be shared extra EEA?</th>
                    <td>
                        SML will not disseminate your personal data. Your data will be shared with external providers which carry out for us certain services ancillary to the processing. They will act as data processors or data controller in relation to your data and a list of them is available on request.
                        <br /><br />
                        If you register as a SML Client, your personal data may be processed both in and outside your country of residence including outside the EEA, since SML customer relationship management (CRM) is managed and provides clients with SML’s benefits worldwide (if this occurs, EU Standard Contractual Clauses are entered into).
                    </td>
                </tr>
                <tr>
                    <th scope="row">h)</th>
                    <th scope="row">Existence of automated decision-making, including profiling</th>
                    <td>SML, upon your consent, may profile you. If this occurs, purchase habits will define the types of products that suits best for you and which SML will promote to you by keeping you updated of the last products that may meet your tastes.</td>
                </tr>
                <tr>
                    <th scope="row">i)</th>
                    <th scope="row">What are your privacy rights?</th>
                    <td>
                        You have a number of rights in relation to your personal data including the right: 
                        <br />
                        <ol>
                            <li>
                                to be informed about how your personal data is used (as we have explained in this privacy notice)
                            </li>
                            <li>
                                to request access to and receive a copy of the personal data we hold about you
                            </li>
                            <li>
                                to request that we correct any inaccuracies in your personal data
                            </li>
                            <li>
                                in certain circumstances, to request that we delete your personal data or restrict processing of your personal data
                            </li>
                            <li>
                                in certain circumstances, to move, copy or transfer personal information you have provided to us
                            </li>
                            <li>
                                where we are using your personal data with your consent, withdraw your consent at any time
                            </li>
                            <li>
                                to object to use of your personal data based on our legitimate interests
                            </li>
                            <li>
                                make a complaint to the Information Commissioner’s Office (or if you are based outside of the UK, the relevant data protection regulator in your country of residence).
                            </li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <th scope="row">j)</th>
                    <th scope="row">How can you exercise your  privacy rights?</th>
                    <td>
                        In the UK, the website of the Information Commissioner’s Office (available at www.ico.org.uk) has lots of information to help you understand your rights in relation to your personal data.
                        <br />
                        To exercise your rights, or if you have any questions regarding your personal data, please contact us at <b>privacy@store.stellamccartney.com</b>
                        You can unsubscribe from our marketing communications at any time using the link in our email communications.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


