﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@model DCC.ViewModels.SystemSetupViewModel;

@{
    ViewData["Title"] = "System Setup";
}

<h4 class="headerfont">@Localizer["User Setup"]</h4>
<hr />

<div>
    <form asp-action="UserSetup" class="form-horizontal nav-link text-dark">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <input type="button" class="btn-dark btn signupbutton" value="@Localizer["Pin Change"]" onclick="location.href='@Url.Action("ChangePin", "Home")'" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/SetupScripts.js"></script>
}



