﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{ ViewData["Title"] = "Stella McCartney - Administration";}

<div class="col-12 p-3 align-content-center">
    <h3>@Localizer["Administration"]</h3>
</div>

<form>
    <div class="col-12 p-3 align-content-center">
        <div class="row pt-4">
            <div class="col-12">
                <input type="button" class="btn-dark btn signupbutton" value="@Localizer["Recent Customers"]" onclick="location.href='@Url.Action("Index", "RecentClients")'" />
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12">
                <input type="button" class="btn-dark btn signupbutton" value="@Localizer["System Setup"]" onclick="location.href='@Url.Action("SystemSetup", "Home")'" />
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12">
                <input type="button" class="btn-danger btn signupbutton" value=" @Localizer["Cancel"]" onclick="location.href='@Url.Action("RevertCulture", "Culture")'" />
            </div>
        </div>
    </div>
</form>

