﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col-12 headerfont pb-3 pt-3">
        ステラマッカートニー　プライバシーノーティス
    </div>
    <div class="col-12 controlfont small">
        個人データ保護に関する基本的な情報　より多くの情報をご要望の場合にはセールスアシスタントにお問い合わせください。
    </div>
    <div class="col-12 controlfont small">
        <table class="table">            
            <tbody>
                <tr>
                    <th scope="row">a)</th>
                    <th scope="row" class="w-25">個人データの収集時期は？</th>
                    <td>顧客登録をご希望される方は、SML又はその現地法人の製品やサービス（店頭、遠隔販売、オンライン）を購入し、若しくはSML又は現地法人によるイベント、プロモーション若しくはサービスに参加することにより、SMLワールドの最新情報を入手してください。</td>
                </tr>
                <tr>
                    <th scope="row">b)</th>
                    <th scope="row">誰が個人データを管理していますか？</th>
                    <td>3 Olaf Street, London W11 4BEに登録上の本店を持つStella McCartney Ltd（「SML」）は、登録された顧客への販売に関連する個人データの管理について、SMLの各現地法人（株式会社ステラマッカートニージャパンを含みます）またはパートナーと協力しています。</td>
                </tr>
                <tr>
                    <th scope="row">c)</th>
                    <th scope="row">どのような個人データを収集し、どのような目的で、どのような法的根拠に基づいて収集した個人データを処理するのでしょうか？
                    </th>
                    <td>
                        お客様の氏名、苗字、生年月日、住所、電話番号、メールアドレス、趣味、仕事、興味、購入データ（購入した商品、購入場所、購入日時、配送データなど）、お客様の実店 舗やオンラインストアへの訪問回数（商品を閲覧した回数など）などのデータは、以下の目的で処理されることがあります。
                        <br />
                        <ol>
                            <li>
                                法的義務の履行（SML又はその現地法人が負う法的義務の遵守）。
                            </li>
                            <li>
                                ゲーム、コンテスト、その他の取り組みへの参加など、製品の購入やサービスの提供に厳密に関連した義務の履行（お客様が当事者である契約の履行）
                            </li>
                            <li>
                                （お客様の同意を得た）マーケティングやプロモーション活動を実施するため。
                            </li>
                            <li>
                                （お客様の同意を得た上で）お客様の消費者性向を分析するため
                            </li>
                            <li>
                                会計処理
                            </li>
                        </ol>
                    </td>

                </tr>
                <tr>
                    <th scope="row">d)</th>
                    <th scope="row">お客様の個人データはどのように処理され、保護されていますか？</th>
                    <td>お客様の個人データは、電子的またはハードコピーで処理されることがあり、適切なセキュリティ、技術的、組織的対策によって保護されています。</td>
                </tr>
                <tr>
                    <th scope="row">e)</th>
                    <th scope="row">お客様の個人データはどのくらいの期間保管されますか？</th>
                    <td>法的義務を遵守し、契約を履行するために10年を超えない期間、およびマーケティングとプロファイリングのために7年を超えない期間。他の目的で取得されたデータと統合 された匿名データを継続して使用する場合があります。</td>
                </tr>
                <tr>
                    <th scope="row">f)</th>
                    <th scope="row">個人データの提供は必須か任意か、また個人データを提供しない場合に起こりうることは何でしょうか？</th>
                    <td>(1) (法的義務)および(2) (契約上の目的)に記載された目的のためにお客様のデータを提供していただく必要があります。ご提供いただけない場合、お客様に登録された顧客と して製品を販売し、若しくはSML又は現地法人によるイベント、プロモーション若しくはサービスに参加していただくことができません。c) (3) (マーケティング目的)および(4) (プロファイリング目的)に記載された目的のためにデータを提供することは任意です。これらの目的のためにデータを提供しなくても、お客様に悪影響を及ぼすことはありません。</td>
                </tr>
                <tr>
                    <th scope="row">g)</th>
                    <th scope="row">収集した個人データをどのように共有するのか、グローバルサービスはどのように機能し、お客様の個人データをEEA以外のどの事業体に共有されますか？</th>
                    <td>SML又はその現地法人は、お客様の個人データを広く提供することはありません。お客様の個人データは、SML又は各現地法人のために個人データの処理に付随するサービス を提供する外部業者と共有されます。これらの業者は、お客様のデータについてのデータ処理者（data processor）またはデータ管理者（data controller）に該当し、これら の業者のリストはご要望に応じて提供いたします。</td>
                </tr>
                <tr>
                    <th scope="row">h)</th>
                    <th scope="row">プロファイリングを含む自動意思決定の存在</th>
                    <td>SML又はその現地法人は、お客様の同意を得た上で、お客様のプロフィールを作成することがあります。この場合、購買習慣は、あなたに最も適した製品の種類を定義し、SML又はその現地法人はあなたの好みを満たす可能性のある最後の製品を最新の状態に保つことによって、あなたにどの製品を販売するかを決定します。</td>
                </tr>
                <tr>
                    <th scope="row">i)</th>
                    <th scope="row">お客様のプライバシーについての権利</th>
                    <td>
                        お客様には、お客様の個人データに関連して、以下の権利を含む多くの権利があります。
                        <br />
                        <ol>
                            <li>
                                お客様の個人データの使用方法について知らされる権利（この点については本プライバシーノーティスで説明しています）。
                            </li>
                            <li>
                                当社が保有するお客様の個人データへのアクセスを要求し、そのコピーを受け取る権利。
                            </li>
                            <li>
                                お客様の個人データの不正確さの訂正を要求する権利。
                            </li>
                            <li>
                                特定の状況下で、当社がお客様の個人データを削除しまたは個人データの処理を制限することを要求する権利。
                            </li>
                            <li>
                                特定の状況下で、ご提供いただいた個人データを移動、コピー、または転送する権利。
                            </li>
                            <li>
                                当社がお客様の同意を得て個人データを使用している場合、いつでも同意を取り消すことができる権利。
                            </li>
                            <li>
                                当社の正当な利益に基づく個人データの使用に異議を申し立てる権利
                            </li>
                            <li>
                                情報長官事務所（英国外に拠点を置く場合は、居住国の関連するデータ保護規制機関）に苦情を申し立てる権利。
                            </li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <th scope="row">j)</th>
                    <th scope="row">プライバシーの権利を行使するには？</th>
                    <td>英国では、情報長官事務所のウェブサイト（www.ico.org.uk）には、個人データに関する権利を理解するのに役立つ多くの情報が掲載されています。日本では、個人データに関する権利を理解するのに役立つ情報が個人情報保護委員会のウェブサイト（https://www.ppc.go.jp/personalinfo/）で提供されています。権利を行使するには、または個人データに関するご質問がある場合は、privacy@store.stellamccartney.com までご連絡ください。当社からのマーケティング・コミュニケーションの配信停止は、当社からのメールに記載されているリンクを使用していつでも行うことができます。</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
