﻿.pinpad {
    width: 500px;
    height: 600px;
    border-style: none;
    margin: 0 auto 0 auto;
}

    .pinpad td {
        height: 20%;
    }

.pinpad_td_result {
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.pinpad_result {
    width: 90%;
    font-weight: bold;
    font-size: 32px;
    border: none;
    background-color: white;
    text-align: center;
}

.pinpad_td_calculs {
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.pinpad_calculs {
    width: 90%;
    text-align: left;
}

.pinpad_td_btn {
    width: 33%;
    height: 100%;
    padding: 5px 5px 5px 5px;
}

.pinpad_btn {
    width: 90%;
    height: 90%;
    font-size: 20px;
    align-content: center;
}
